<div class="container mt-5">
  <h1><%= @cocktail.name %></h1>

  <div class="cocktail-details mt-4">
    <h2>Ingredients:</h2>
    <ul class="list-group">
      <% @cocktail.ingredients.each do |ingredient| %>
        <li class="list-group-item"><%= ingredient.name %></li>
      <% end %>
    </ul>

    <h2 class="mt-3">Doses</h2>
    <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item">
          <%= "#{dose.description} - #{dose.ingredient.name}" %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= link_to 'Back to Cocktails', cocktails_path, class: 'btn btn-secondary mt-3' %>
  <%= button_to 'Delete Cocktail', delete_cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mt-3' %>
</div>
